*{
    background-color: gray;  
}


h1 {
    color: black;
    margin: auto;
    background-size: auto;
    background-color: white;
    text-align: center;
}

#Flan {
    background-color: White;
    padding: 10px;
    margin: 10px;
    display: block;
}

#Chicken {
    background-color: white;
    padding: 10px;
    margin: 10px;
    display: block;
}

#Bread{
    background-color: white;
    padding: 10px;
    margin: 10px;
    display: block;

}